node_modules
.next/build-manifest.json
.next/package.json
.next/react-loadable-manifest.json
.next/trace
.next/cache/.rscinfo
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/server/interception-route-rewrite-manifest.js
.next/server/middleware-build-manifest.js
.next/server/middleware-manifest.json
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/next-font-manifest.json
.next/server/pages-manifest.json
.next/static/chunks/polyfills.js
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
